.sketch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid black;
}

.sketch-line {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.sketch-item {
    background-color: white;
    display: inline-block;
}